html, body{
    font-size: 70%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
    margin: 0;
    overflow-x: hidden;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],.w3layouts_mail_grid_left1,.w3layouts_mail_grid_left2 a,.w3layouts_services_grid_main,.agileits_w3layouts_nav_right ul li a,.w3layouts_banner_info_right ul li a,.wthree_copy_right p a,.agile_map_grid ul li a,.agileits_w3layouts_footer_grid ul li a{
	-webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
/*-- banner --*/
.header.w3layouts {
    background: #fff;
}
.head-top-agileinfo {
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 750px;
    padding-top: 4em;
	position: relative;
}
.head-top-agileinfo:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 0;
    height: 0;
    border-bottom: 35px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(-180deg);
}
.head-top-agileinfo:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 0;
    height: 0;
    border-bottom: 40px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(0deg);
}
.head-top-agileinfo1{
	background:url(../images/3.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:400px;
	padding-top: 4em;
	position: relative;
}
.head-top-agileinfo1:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 0;
    height: 0;
    border-bottom: 35px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(-180deg);
}
.head-top-agileinfo1:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 0;
    height: 0;
    border-bottom: 40px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(0deg);
}
.w3l-banner-info h3 {
    color: #fff;
    font-size: 35px;
    text-align: center;
    text-transform:uppercase;
    line-height: 60px;
	letter-spacing:1px;
	font-weight:600;
}
.w3l-banner-info p {
    font-size: 18px;
    color: #cccccc;
    text-align: center;
    margin: 20px 0 0;
}
.w3l-banner-info {
    width: 60%;
    padding: 2em;
    margin: 12em auto 0;
    background: rgba(186, 70, 89, 0.51);
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
    padding: 1em 0;
}
.navbar-brand {
    font-size: 38px;
    font-weight: 600;
    color: #005696;
    letter-spacing: 1px;
	text-transform:uppercase;
}
.navbar-brand span {
    line-height: 0.5;
    color: #ffc100;
    text-transform: capitalize;
    transform: rotate(-150deg);
	-webkit-transform: rotate(-150deg);
	-moz-transform: rotate(-150deg);
	-o-transform: rotate(-150deg);
	-ms-transform: rotate(-150deg);
    display: inline-block;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fcb414;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fcb414;
    background: none;
}
.navbar-nav > li > a {
	padding:22px 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
    color:#000000;
}
.navbar-collapse {
    padding: 0;
    border-top: none;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-right {
    float: none !important;
    margin-right: 0;
    margin-left: 0em;
}
.navbar-nav {
    float: right !important;
    margin: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#fcb414;
}
.nav > li > a,.agile_short_dropdown li a {
	
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fcb414 ! important;
    background-color: rgba(76, 76, 76, 0) ! important
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.24) ! important;
}
ul.dropdown-menu {
    background: rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 4em;
    right: 27px ! important;
    min-width: 90px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: rgba(0, 0, 0, 0.24) ! important;
    color: #fff ! important;
}
.w3_agile_login{
	float:right;
}
.w3_agile_login a i{
	padding: .5em .7em;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1em;
    margin-top: 1em;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active.open > a{
	color: #204b87;
}
.agile_short_dropdown li a {
    padding: 8px 20px;
    color: #fff;
    text-align: center;
}
.agile_short_dropdown li a:before{
	content:'';
	display:none;
}
/*-- //nav --*/
.agileinfo-news-button a {
    padding: .5em 1.5em;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    outline: none;
}
/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #000000;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background:#fcb414;*/
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.agileinfo-news-button {
    margin-top: 35px;
    text-align: center;
}
.agileits_w3layouts_banner_info{
	margin: 15em 0 0;
}
.agileits_w3layouts_banner_info h2 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.w3-agileits-bann p {
    font-size: 21px;
    color: #fff;
    margin-top: 18px;
}
.w3-agile-bann ul li {
    display: block;
    margin-bottom: 1em;
    color: #ffffff;
    line-height: 1.5em;
    font-size: 1em;
    letter-spacing: 0px;
}
.w3-agile-bann ul li i {
    color: #b06010;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #fff;
    margin-right: 19px;
    line-height: 15px;
}
.w3-agile-bann ul li:last-child,.w3-agile-bann ul li:last-child{
	margin-bottom:0;
}
.w3-agileits-bann {
    margin-top: 50px;
}
/*-- //banner --*/
/*-- services --*/
.w3ls_head_para1 {
    text-align: center;
    font-size: 15px;
    color: #424f57;
    line-height: 28px;
    margin: 20px auto 0;
    width: 80%;
}
p.w3ls_head_para.w3ls_head_para2 {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 20px 0;
}
.w3l_head1:before,.w3l_head1:after{
	width:10% !important;
}
.w3l_head1:before {
    left: 35% !important;
}
.w3l_head1:after {
    right: 35% !important;
}
.w3_agileits_services_grids{
	margin:2em 0 0;
}
.w3_agileits_services_grid{
	text-align:center;
	padding: 0;
}
.w3_agileits_services_grid_agile {
    padding: 2em;
}
.w3_agileits_services_grid_1 {
    width: 100px;
    height: 100px;
    background: #ba4659;
    margin: 0 auto;
}
.w3_agileits_services_grid_1 i{
	/*color:#fcb316;*/
	font-size:3em;
	line-height:2em;
}
.w3_agileits_services_grid_agile h3 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    color: #15afcb;
    font-weight: 600;
    margin: 2em 0 1em;
    padding-bottom: .5em;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.w3_agileits_services_grid_agile h3:after {
    content: '';
    position: absolute;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
	-ms-transition: all .5s ease;
    transition: all .5s ease;
    width: 20%;
    height: 1px;
    background: #15afcb;
    left: 40%;
    bottom: 0;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile h3:after {
    background: #fff;
    width: 60%;
}
.w3_agileits_services_grid_agile p{
	color:#999;
	line-height:2em;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile{
	background: #15afcb;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_1{
	background:#fff;
	border:2px solid #fff;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile h3{
	color:#fff;
}
.w3_agileits_services_grid:hover .w3_agileits_services_grid_agile p{
	color:#fff;
}
.w3_agileits_services_grid{
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
	-ms-transition: all .5s ease;
    transition: all .5s ease;
}
.services {
    padding: 5em 0;
}
.w3l_head {
    font-size: 40px;
    font-weight: 600;
    color: #15afcb;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
/*-- //services --*/
/*-- branch --*/
.branch-wthree{
	background: url(../images/1.jpg) center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 500px;
    padding-top: 10em;
	text-align:center;
	position: relative;
}
.branch-wthree:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 0;
    height: 0;
   border-bottom: 35px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(-180deg);
}
.branch-wthree:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 0;
    height: 0;
    border-bottom: 40px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(0deg);
}
.branch-wthree h3 {
    font-size: 40px;
    color: #15afcb;
    text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:600;
}
.branch-wthree p {
    font-size: 16px;
   /* color: #fcb316;*/
    margin: 30px auto 0;
    width: 80%;
    line-height: 28px;
}
/*-- //branch --*/
/*-- team --*/
.team-agileits{
	padding:5em 0;
}
.team-grids{
	margin:3em 0 0;
}
.team-grid{
	text-align:center;
}
.team-grid h4{
	font-size: 1.2em;
    color: #27A0D8;
    margin: 1em 0 0.5em;
}
.team-grid p{
	color:#999;
}
/*-- img-hovers --*/
.pic {
    max-width: 300px;
    max-height: 300px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    animation: anima 2s;
    -webkit-animation: anima 2s;
    -moz-animation: anima 2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.pic .pic-image, .pic-caption, .pic:hover .pic-caption, .pic:hover img {
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.pic-image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.pic-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(30, 30, 30, 0.42);
    padding: 4.5em 1em 0;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.top-to-bottom {
    bottom: 50%;
    left: 0;
}
.team-grid:hover .pic .top-to-bottom {
    left: 0;
    bottom: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
	z-index: 9999;
}
.pic-caption h5{
	font-size:1.5em;
	color:#fff;
	margin:0 0 .5em;
	text-transform:capitalize;
}
.pic-caption p{
	line-height:1.8em;
	color:#E4E4E4;
}
/*--//img-hovers--*/
.social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin:2em 0 0;
}
.social-nav li {
    display: inline-block;
}
.social-nav a {
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background: #000;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.team-grids i.fa {
    color: #fff;
}
.model-3d-0 a {
    background:#5C5B5B;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.model-3d-0 .front, .model-3d-0 .back {
    width: 30px;
    height: 30px;
    /*background:#fcb316;*/
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(18px);
    -moz-transform: translateZ(18px);
    -ms-transform: translateZ(18px);
    -o-transform: translateZ(18px);
    transform: translateZ(18px);
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}
.model-3d-0 .back {
    -webkit-transform: rotateX(90deg) translateZ(18px);
    -moz-transform: rotateX(90deg) translateZ(18px);
    -ms-transform: rotateX(90deg) translateZ(18px);
    -o-transform: rotateX(90deg) translateZ(18px);
    transform: rotateX(90deg) translateZ(18px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.twitter .back,.facebook .back,.instagram .back,.pinterest .back{
    background:#27A0D8;
}
.model-3d-0 a:hover {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.model-3d-0 a:hover .back {
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    backface-visibility: visible;
}
.twitter-sub{

    display: block;
    width: 30px;
    height: 30px;
}
.facebook-sub{

    display: block;
    width: 30px;
    height: 30px;
}
.instagram-sub{

    display: block;
    width: 30px;
    height: 30px;
}
.pinterest-sub{

    display: block;
    width: 30px;
    height: 30px;
}
.stack img { width: 100%; height: auto; vertical-align: bottom; border:10px solid #fcb316; border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.stack:last-of-type { margin-right: 0; }

/* Third stack example (One stack element rotated in the opposite direction) */
.stack.twisted:before {
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}	
.stack.twisted:after {
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}	
/* Reset all rotations on hover */
.stack:hover:before, .stack:hover:after,.team-grid:hover .stack:before,.team-grid:hover .stack:after{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
/* Stacks creted by the use of generated content */
.stack:before, .stack:after { content: ""; border-radius: 3px; width: 100%; height: 100%; position: absolute; border: 10px solid #fcb316; left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	-webkit-transition: 0.3s all ease-out;
	-moz-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	-ms-transition: 0.3s all ease-out;
}
.stack:before { top: 4px; z-index: -10; } /* 1st element in stack (behind image) */	
.stack:after { top: 8px; z-index: -20; } /* 2nd element in stack (behind image) */
.stack { float: none;     width: 92%;
    margin:3% 0% 8% 4%; position: relative; z-index:998; }
/*-- //team --*/
/*-- testimonial --*/
.testimonial {
    background: url(../images/2.jpg) center fixed;
    background-size: cover;
    min-height: 300px;
    position: relative;
    padding: 5em 0;
}
.testimonial:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 0;
    height: 0;
   border-bottom: 35px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(-180deg);
}
.testimonial:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 0;
    height: 0;
    border-bottom: 40px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(0deg);
}
.testimonial-heading{
	text-align:center;
}
.testimonial-heading h3 {
    color: #fcb316;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
	text-transform: uppercase;
	font-weight:600;
}
.testimonial-heading p{
	color:#FFFFFF;
}
.agileits-w3layouts{
    text-align: center;
    margin: 2em 0 0 0;
}
i.fa.fa-quote-right {
    font-size: 3em;
    color: #FFFFFF;
}
.agileits-w3layouts p {
    color: #ffffff;
    line-height: 2em;
    margin: 2em auto;
    width: 81%;
    font-weight: 300;
}
.agileits-w3layouts h5 {
    color: #15afcb;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
}
.agileits-w3layouts h5 span{
	font-weight:300;
}
/*-- //testimonial --*/
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
	position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 100px;
    left: 0;
    opacity: 0.6;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: transparent url("../images/arrows.png") no-repeat right top;
}
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
 }
 .callbacks_nav.prev {
    right: auto;
    background-position: left top;
    left: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs{
    list-style: none;
    position: absolute;
    top: 315px;
    left: 230px;
    padding: 0;
    margin: 0;
    z-index: 990;
    display: inline-block;
    text-align: center;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
    display: inline-block;
    margin: 0;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
    font-size: 0;
    visibility: visible;
    display: block;
    height: 10px;
    width: 10px;
    display: inline-block;
    background:rgba(255, 255, 255, 0.38);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
    height: 10px;
    width: 10px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.services-info{
	position:relative;
}
.w3ls-text{
    width: 80%;
    margin: 3em auto 0;
    text-align: center;
}
.w3ls-text h5{
	color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 1em 0;
    line-height: 1.5em;
}
.w3ls-text p {
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.8em;
    margin: 0;
}
.w3ls-text p span{
	margin:1em 0 0 0;
	display:block;
}
/*-- //slider --*/
/*-- footer --*/
.footer-w3-agile h2 {
color: #fcb316;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
	font-weight:600;
}
.footer-w3-agile {
    padding: 5em 0;
}
.contact-info i {
    font-size: 19px;
    margin-right: 10px;
    display: inline-block;
    top: 3px;
	color:#000;
}
.contact-info p.p3 {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
}
.contact-info p.p4 {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 16px;
}
.contact-info p.p3 a,.contact-info p.p4 a {
    text-decoration: none;
    color: #000;
}
.copyright-agileinfo p {
    text-align: center;
    padding: 5em 0 2em;
    color: #fff;
}
.w3ls-cont {
    background: #fcb316;
    padding: 5em 2.7em 5em;
	position:relative;
}
.w3ls-cont:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 0;
    height: 0;
    border-bottom: 45px solid #ba4659;
    border-right: 349px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(-180deg);
}
.w3ls-cont:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
   border-bottom: 45px solid #ba4659;
    border-right: 349px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(0deg);
}
.phone {
    margin: 1em 0;
}
.foot-agileits-w3layouts {
    padding: 5em 0em 2em;
    background: #000;
	position:relative;
}
.foot-agileits-w3layouts:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 1px;
    width: 0;
    height: 0;
    border-bottom: 35px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(-180deg);
}
.foot-agileits-w3layouts:after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 0;
    height: 0;
    border-bottom: 40px solid #fcb414;
    border-right: 1582px solid transparent;
    border-left: 0px solid transparent;
    transform: rotate(0deg);
}
.social-icons1 {
	margin-top:2em;
}
.social-icons1 li {
	display:inline;
    margin-right:1px;
}
.social-icons1 li a i.fa.fa-facebook {
	background-color:#3b5998;
    width: 36px;
    height: 36px;
    line-height: 37px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
    font-size: 17px;
	color:#fff;
	text-align: center;
    vertical-align: middle;	
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social-icons1 li a i.fa.fa-twitter {
	background-color:#55acee;
	    width: 36px;
    height: 36px;
    line-height: 37px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:17px;
	color:#fff;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social-icons1 li a i.fa.fa-linkedin {
	background-color:#e68523;
	   width: 36px;
    height: 36px;
    line-height: 32px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:17px;
	color:#fff;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social-icons1 li a i.fa.fa-google-plus {
	background-color:#dc4e41;
	  width: 36px;
    height: 36px;
    line-height: 35px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:15px;
	color:#fff;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social-icons1 li a i.fa.fa-facebook:hover {
	background-color:#002573;
}
.social-icons1 li a i.fa.fa-twitter:hover {
	background-color:#004A82;
}
.social-icons1 li a i.fa.fa-linkedin:hover { 
	background-color:#BB5E00;
}
.social-icons1 li a i.fa.fa-google-plus:hover { 
	background-color:#8A0B00;
}
.map-w3-agileits iframe {
    width: 100%;
    border: none;
    min-height: 338px;
}
/*-- //footer --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #fcb414 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #fcb414;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 25px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
/*-- gallery --*/
.agileinfo-gal {
    padding: 5em 0;
}
.agileits_portfolio_grids{
	margin:3em 0 0;
}
.agileinfo_portfolio_grid{
	margin-top:2em;
}
.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
}

.hovereffect h4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
    background-color: transparent;
    color: #fff;
    padding: 1.6em 0 0.5em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.hovereffect p{
	color: #FFF;
    line-height: 1.8em;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect:hover p, .hovereffect:hover h4 {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*-- //gallery --*/
/*-- services --*/
.w3layouts_services_grids{
	margin:3em 0 0;
}
.w3layouts_services_grid1{
	position:relative;
}
.w3layouts_services_grid1_pos{
	position: absolute;
    top: 5%;
    right: 5%;
    width: 20%;
}
.w3layouts_services_grid1_pos h4{
	font-size: 14px;
    color: #fff;
    background: #1bd6f2;
    text-align: center;
}
.w3layouts_services_grid h5{
	font-size: 1.4em;
    text-transform: capitalize;
    color: #fcb414;
    margin: 1em 0 .5em;
    line-height: 1.5em;
}
.w3layouts_services_grid p{
	color:#999;
	line-height:2em;
}
.w3layouts_services_grid_main{
	position:relative;
	z-index: 2;
	padding:1em;
}
.w3layouts_services_grid_main:hover{
    box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    z-index: 100;
}
.w3layouts_services_grids1{
	margin:1em 0 0;
}
/*-- //services --*/
/*-- mail --*/
.agileits_mail_grid_right1{
	padding:3em;
	background:#f5f5f5;
	margin-top: 4em;
}
.agileits_mail_grid_right1 span i{
	color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    float: left;
    width: 9%;
    margin: .8em 0 0;
}
.agileits_mail_grid_right1 input[type="text"],.agileits_mail_grid_right1 input[type="email"],.agileits_mail_grid_right1 textarea{
	outline: none;
    width: 91%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
::-webkit-input-placeholder{
	color:#212121 !important;
}
.agileits_mail_grid_right1 span {
    padding: .5em 0;
    display: block;
}
.agileits_mail_grid_right1 textarea{
	min-height:200px;
}
.agileits_mail_grid_right1 input[type="submit"]{
	outline: none;
    width: 35%;
    background: #ba4659;
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    margin:.5em 0 0 6.7em;
}
.agileits_mail_grid_right1 input[type="submit"]:hover{
    background:#fcb316;
    color: #fff;
}
.contact-w3-agile {
    padding: 5em 0;
}
/*-- //mail --*/
/*-----start-responsive-design------*/
@media (max-width: 1920px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 1902px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 1902px solid transparent;
}
}
/*-----responsive-design------*/
@media (max-width: 1680px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 1662px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 1662px solid transparent;
}
}
/*-----responsive-design------*/
@media (max-width: 1600px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 1582px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 1582px solid transparent;
}
}
/*-----responsive-design------*/
@media (max-width: 1440px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 1422px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 1422px solid transparent;
}
}
/*-----responsive-design------*/
@media (max-width: 1366px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 1348px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 1348px solid transparent;
}
}
/*-----responsive-design------*/
@media (max-width: 1280px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 1262px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 1262px solid transparent;
}
}
/*-----responsive-design------*/
@media (max-width: 1080px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 1062px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 1062px solid transparent;
}
.navbar-nav > li > a {
    padding: 22px 20px 0 ! important;
}
.head-top-agileinfo1 {
    min-height: 300px;
    padding-top: 3em;
}
.contact-w3-agile {
    padding: 3em 0;
}
.w3ls-cont {
    padding: 5em 1em 5em;
}
.w3ls-cont:before {
    border-right: 282px solid transparent;
}
.w3ls-cont:after {
    border-right: 283px solid transparent;
}
.foot-agileits-w3layouts {
    padding: 3em 0em 1em;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 5.4em;
}
.contact-info p.p3 {
    font-size: 15px;
}
.w3ls-cont {
    padding: 5em 1em 5em;
}
.hovereffect h4 {
    padding: 0.6em 0 0.5em;
}
}
/*-----responsive-design------*/
@media (max-width: 1024px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 1006px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 1006px solid transparent;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 3em 0;
}
.typo {
    padding: 3em 0;
}
.agileinfo-gal {
    padding: 3em 0;
}
.services {
    padding: 3em 0;
}
}
/*-----responsive-design------*/
@media (max-width: 991px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 973px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 973px solid transparent;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 3.9em;
}
.w3ls-cont:before {
    border-right: 689px solid transparent;
}
.w3ls-cont:after {
    border-right: 689px solid transparent;
}
.w3ls-cont {
    padding: 5em 13em 5em;
}
.agileits_portfolio_grid {
    float: left;
    width: 50%;
}
.hovereffect h4 {
    padding: 2.2em 0 0.5em;
}
.agileits_portfolio_grids {
    margin: 1em 0 0;
}
.w3layouts_services_grid {
    float: left;
    width: 33.33%;
}
.w3layouts_services_grid h5 {
    font-size: 1.2em;
}
.navbar-brand {
    font-size: 30px;
}
.navbar-nav > li > a {
    padding: 18px 8px 0 ! important;
}
.w3l-banner-info {
    width: 90%;
    margin: 6em auto 0;
}
.head-top-agileinfo {
    min-height: 611px;
    padding-top: 3em;
}
.w3l-banner-info h3 {
    font-size: 30px;
}
.w3ls_head_para1 {
    width: 100%;
}
.branch-wthree {
    min-height: 340px;
    padding-top: 5em;
}
.branch-wthree p {
    line-height: 28px;
}
.team-agileits {
    padding: 3em 0;
}
.team-grid {
    text-align: center;
    float: left;
    width: 33.33%;
}
.testimonial {
    padding: 3em 0;
}
.footer-w3-agile {
    padding: 3em 0;
}
.w3_agileits_services_grid {
    float: left;
    width: 33.33%;
}
.w3_agileits_services_grid_agile {
    padding: 1em;
}
.w3ls_head_para1 {
    font-size: 14px;
}
.branch-wthree p {
    font-size: 14px;
	width: 100%;
}
}
/*-----responsive-design------*/
@media (max-width: 800px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 782px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 782px solid transparent;
}
}
/*-----responsive-design------*/
@media (max-width: 768px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 750px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 750px solid transparent;
}
.w3l_head {
    font-size: 35px;
}
.agileits_mail_grid_right1 {
    margin-top: 3em;
}
.head-top-agileinfo {
    min-height: 570px;
}
}
/*-----responsive-design------*/
@media (max-width: 767px){
.navbar-default .navbar-toggle {
		border-color:#005595;
	}
.navbar-default .navbar-toggle .icon-bar {
		background-color: #005595;
	}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
.navbar-toggle {
		margin: .5em 0 0;
	}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background:rgb(0, 0, 0);
		z-index: 999;
	}
.navbar-nav > li > a {
		padding: 13px 0 0;
		margin-bottom: 10px;
	}
.navbar-nav {
		margin: 0;
		text-align: center;
	}
.w3_agile_login {
		float: none;
		text-align: center;
		padding-bottom: 1em;
	}
.navbar-nav .open .dropdown-menu {
		width: 50%;
		margin: 0 auto;
		background-color: rgb(255, 255, 255);
		border-radius: 0;
	}
.thim-click-to-bottom {
		left: 47%;
	}
	.navbar-nav {
    float: none !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: rgba(73, 73, 73, 0.03) ! important;
}
.navbar {
    padding: 1em 0 0.8em;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-nav > li > a {
    padding: 12px 9px 0 ! important;
}
}
/*-----responsive-design------*/
@media (max-width: 736px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 718px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 718px solid transparent;
}
.head-top-agileinfo1 {
    min-height: 250px;
}
.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
    width: 84%;
}
.agileits_mail_grid_right1 span i {
    width: 16%;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 6.8em;
}
.w3ls-cont:before {
    border-right: 658px solid transparent;
}
.w3ls-cont:after {
    border-right: 658px solid transparent;
}
.w3ls-cont {
    padding: 5em 12em 5em;
}
}
/*-----responsive-design------*/
@media (max-width: 667px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 649px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 649px solid transparent;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 5.9em;
}
.w3ls-cont {
    padding: 5em 10em 5em;
}
.w3ls-cont:before {
    border-right: 589px solid transparent;
}
.w3ls-cont:after {
    border-right: 589px solid transparent;
}
.w3_agileits_services_grid_agile h3 {
    font-size: 19px;
}
}
/*-----responsive-design------*/
@media (max-width: 640px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 622px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 622px solid transparent;
}
.w3l_head {
    font-size: 30px;
}
.agileits_mail_grid_right1 {
    margin-top: 2em;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 5.7em;
}
.w3ls-cont {
    padding: 5em 9em 5em;
}
.w3ls-cont:before {
    border-right: 562px solid transparent;
}
.w3ls-cont:after {
    border-right: 562px solid transparent;
}
.copyright-agileinfo p {
    padding: 2em 0 3em;
}
.hovereffect h4 {
    padding: 1.5em 0 0.5em;
}
.w3l-banner-info h3 {
    font-size: 28px;
	line-height: 43px;
}
.agileinfo-news-button {
    margin-top: 20px;
}
.w3l-banner-info {
    width: 90%;
    margin: 5em auto 0;
	padding:2em;
}
.head-top-agileinfo {
    min-height: 510px;
}
.footer-w3-agile h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.testimonial-heading h3 {
    font-size: 30px;
    margin-bottom: 20px;
}
.agileits-w3layouts {
    margin: 0em 0 0 0;
}
.branch-wthree h3 {
    font-size: 30px;
}
}
/*-----responsive-design------*/
@media (max-width: 600px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 582px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 582px solid transparent;
}
.head-top-agileinfo1 {
    min-height: 220px;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 5.2em;
}
.w3ls-cont:before {
    border-right: 522px solid transparent;
}
.w3ls-cont:after {
    border-right: 522px solid transparent;
}
.w3ls-cont {
    padding: 5em 8em 5em;
}
.w3layouts_services_grid {
    float: left;
    width: 100%;
}
.w3layouts_services_grids {
    margin: 1em 0 0;
}
}
/*-----responsive-design------*/
@media (max-width: 568px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right:550px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 550px solid transparent;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 5em;
}
.w3ls-cont {
    padding: 5em 7em 5em;
}
.w3ls-cont:before {
    border-right: 490px solid transparent;
}
.w3ls-cont:after {
    border-right: 490px solid transparent;
}
.w3_agileits_services_grid {
    width: 100%;
}
.branch-wthree {
    padding-top: 3em;
}
.team-grid {
    float: left;
    width: 100%;
}
.team-grid:nth-child(2){
	margin:1.5em 0;
}
}
/*-----responsive-design------*/
@media (max-width: 480px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 462px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 462px solid transparent;
}
.agileits_mail_grid_right1 {
    padding: 1.5em;
}
.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
    width: 81%;
}
.agileits_mail_grid_right1 span i {
    width: 19%;
}
.agileits_mail_grid_right1 textarea {
    min-height: 160px;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 5.3em;
}
.w3ls-cont {
    padding: 3em 4em 3em;
}
.w3ls-cont:before {
    border-right: 402px solid transparent;
}
.w3ls-cont:after {
    border-right: 402px solid transparent;
}
.map-w3-agileits iframe {
    min-height: 200px;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2em 0;
}
.typo {
    padding: 2em 0;
}
.hovereffect h4 {
    padding: 0.5em 0 0.5em;
}
.agileinfo-gal {
    padding: 2em 0px;
}
.services {
    padding: 2em 0;
}
.w3l-banner-info h3 {
    font-size: 24px;
    line-height: 35px;
}
.w3l-banner-info {
    width: 95%;
    margin: 4em auto 0;
    padding: 1.5em;
}
.head-top-agileinfo {
    min-height: 450px;
}
}
/*-----responsive-design------*/
@media (max-width: 414px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 396px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 396px solid transparent;
}
.head-top-agileinfo1 {
    min-height: 200px;
}
.agileits_mail_grid_right1 span i {
    width: 22%;
}
.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
    width: 78%;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 5em;
}
.w3ls-cont {
    padding: 3em 2em 3em;
}
.w3ls-cont:before {
    border-right: 336px solid transparent;
}
.w3ls-cont:after {
    border-right: 336px solid transparent;
}
.agileits_portfolio_grid {
    width: 100%;
}
.hovereffect h4 {
    padding: 2.5em 0 0.5em;
}
.w3l-banner-info h3 {
    font-size: 19px;
    line-height: 30px;
}
.head-top-agileinfo {
    min-height: 420px;
}
p.w3ls_head_para.w3ls_head_para2 {
    font-size: 15px;
}
}
/*-----responsive-design------*/
@media (max-width: 384px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 366px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 366px solid transparent;
}
.contact-w3-agile {
    padding: 2em 0;
}
.w3l_head {
    font-size: 27px;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 4.5em;
	width:45%;
}
.w3ls-cont {
    padding: 3em 1em 3em;
}
.w3ls-cont:before {
    border-right: 306px solid transparent;
}
.w3ls-cont:after {
    border-right: 306px solid transparent;
}
.w3l-banner-info {
    width: 100%;
}
}
/*-----responsive-design------*/
@media (max-width: 375px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 357px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 357px solid transparent;
}
.w3ls-cont:before {
    border-right: 297px solid transparent;
}
.w3ls-cont:after {
    border-right: 297px solid transparent;
}
}
/*-----responsive-design------*/
@media (max-width: 320px){
.head-top-agileinfo:before,.branch-wthree:before,.head-top-agileinfo1:before,.testimonial:before,.foot-agileits-w3layouts:before {
	border-right: 302px solid transparent;
}
.head-top-agileinfo:after,.branch-wthree:after,.head-top-agileinfo1:after,.testimonial:after,.foot-agileits-w3layouts:after {
    border-right: 302px solid transparent;
}
.navbar-brand {
    font-size: 24px;
	padding:15px 0;
}
.w3l_head {
    font-size: 25px;
}
.agileits_mail_grid_right1 {
    margin-top: 1.5em;
}
.agileits_mail_grid_right1 span i {
    width: 100%;
    margin-bottom: 10px;
}
.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
    width: 100%;
}
.agileits_mail_grid_right1 input[type="submit"] {
    margin: .5em 0 0 0em;
    width: 55%;
}
.contact-info {
    padding: 0;
}
.contact-info p.p3 {
    font-size: 14px;
}
.contact-info p.p4 {
    font-size: 14px;
}
.w3ls-cont:before {
    border-right: 272px solid transparent;
}
.w3ls-cont:after {
    border-right: 272px solid transparent;
}
.map-w3-agileits {
    padding: 0;
}
.agileits_portfolio_grid {
    padding: 0;
}
.hovereffect h4 {
    padding: 1.8em 0 0.5em;
}
.agileinfo_portfolio_grid {
    margin-top: 0.5em;
}
.w3layouts_services_grid {
    padding: 0;
}
.w3layouts_services_grid h5 {
    font-size: 1.1em;
}
.w3l-banner-info {
    margin: 3em auto 0;
    padding: 1em;
}
.w3l-banner-info h3 {
    font-size: 16px;
    line-height: 26px;
}
.head-top-agileinfo {
    min-height: 380px;
}
.agileinfo-news-button a {
    font-size: 14px;
}
.navbar {
    padding: 0.5em 0 0.8em;
}
.w3ls_head_para1 {
    font-size: 13px;
}
.branch-wthree p {
    font-size: 13px;
    line-height:25px;
	 margin: 16px auto 0;
}
.branch-wthree {
    min-height: 380px;
}
.team-agileits {
    padding: 2em 0;
}
p.w3ls_head_para.w3ls_head_para2 {
    margin: 10px 0;
}
.team-grids {
    margin: 1.5em 0 0;
}
.footer-w3-agile {
    padding: 2em 0;
}
}
/*-----responsive-design------*/
